<h3>Edit user</h3>
<form ng-submit="save()">
    <div class="controls-group">
        <label>Username:</label>
        <input type="text" disabled class="input-large" value="{{user.username}}"
        />
    </div>
    <div class="controls-group">
        <label>New password:</label>
        <input type="password" class="input-large" ng-model="newPassword"
        />
    </div>
    <input class="btn btn-primary" type="submit" value="Save" />
</form>