<h3>Edit user</h3>
<form ng-submit="save()">
    <div class="controls-group">
        <label>Username:</label>
        <input type="text" disabled class="input-large" value="{{user.username}}"
        />
    </div>
    <div ng-controller="EditUserPermissionsCtrl">
        <h4>Permissinos</h4>
        <div ng-repeat="up in userPermissions.permissions" style="clear: both">
            <div class="input-append">
                <input type="text" disabled class="input-large" value="{{up}}" />
                <button ng-click="remove(up)" type="button" class="btn btn-danger">
                    <i class="icon-trash icon-white"></i>
                </button>
            </div>
        </div>
        <div ng-controller="AddPermissionCtrl" class="input-append">
            <input type="text" ng-model="key" class="input-large" />
            <button ng-click="add()" type="button" class="btn btn-primary">
                <i class="icon-plus icon-white"></i>
            </button>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Save" />
</form>