<div>
    <div style="clear: both" ng-repeat="u in users">{{u.username}}
        <div class="btn-group pull-right">
            <a class="btn" href="/admin/users/{{u.username}}/changePassword"><i class="icon-lock"></i></a>
            <a class="btn" href="/admin/users/{{u.username}}"><i class="icon-edit"></i></a>
            <button type="button" class="btn btn-danger" ng-click="remove(u)">
                <i class="icon-trash icon-white"></i>
            </button>
        </div>
    </div>
</div>