<div ng-controller="NewUserCtrl">
    <h3>Create new user</h3>
    <form ng-submit="save()">
        <div class="control-group">
            <label>Username:</label>
            <input type="text" ng-model="user.username" />
        </div>
        <input type="submit" value="Create user" class="btn btn-primary"/>
    </form>
</div>