<h3>Edit layer</h3>
<div class="controls-group">
    <label>Name:</label>
    <input type="text" class="input-xxlarge" ng-model="layer.name"
    required ng-required />
</div>
<div class="controls-group">
    <label>Description:</label>
    <textarea class="input-xxlarge" rows="4" ng-model="layer.description"></textarea>
</div>
