<h3>New layer</h3>

<form ng-upload ng-submit="save()">
    <div class="controls-group">
        <label>Name:</label>
        <input type="text" class="input-xxlarge" ng-model="layer.name" required ng-required />
    </div>
    <div class="controls-group">
        <label>Shapefile:</label>
        <div style="width: 400px" fine-uploader destination="'/upload/'"
        uploaded="uploaded" upload-extensions="jpg,jpeg,png,gif"></div>
    </div>
    <div class="controls-group">
        <label>Description:</label>
        <textarea class="input-xxlarge" rows="4" ng-model="layer.description"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Save" />
</form>