<form ng-submit="login()">
    <div class="control-group">
        <label>Username:</label>
        <input type="text" ng-model="username" />
    </div>
    <div class="control-group">
        <label>Password:</label>
        <input type="password" ng-model="password" />
    </div>
    <input class="btn btn-primary" type="submit" value="Log in" />
</form>