<h3>Workgroups</h3>
<div>
    <div ng-repeat="wg in workgroups" style="clear: both">{{wg.name}}
        <span ng-hide="wg.members.length" class="pull-right">No members</span>
    </div>
    <div ng-hide="workgroups.length">No workgroups</div>
    <div>
        <br />
        <button ng-click="createNew()" type="button" class="btn btn-primary">Create new</button>
    </div>
</div>