<div ng-controller="WorkgroupMembersCtrl">
    <form ng-submit="addMember()" class="form span3">
    <legend>Workgroup members</legend>
        <div class="controls-group">
            <div class="input-append">
                <input placeholder="Add..." required ng-required type="text" ng-model="memberName" />
                <button type="submit" ng-click="addMember()" class="btn">
                    <i class="icon-plus"></i>
                </button>
            </div>
        </div>
        <div>
            <div ng-repeat="m in workgroup.members">{{m}}</div>
        </div>
    </form>
</div>