<h3>New workgroup</h3>
<form ng-submit="save()" class="span3">
    <legend>Details</legend>
    <div class="congrols-group">
        <label>Workgroup name:</label>
        <input required ng-required type="text" ng-model="workgroup.name"
        class="input-xlarge" />
    </div>
    <div class="congrols-group">
        <label>Description:</label>
        <textarea rows="4" ng-model="workgroup.description"
        class="input-xlarge"></textarea>
    </div>
</form>
<div ng-include src="'/views/workgroups/membersList.html'"></div>
