<h3>Map layers</h3>
<div ng-hide="layers.length">No layers</div>
<div ng-repeat="l in layers">
    <a href="/maps/layers/{{l._id}}/edit">{{l.name}}</a>
</div>
<div>
    <br />
    <a class="btn btn-primary" href="/maps/layers/new"><i class="icon-plus icon-white"></i>&nbsp;New layers</a>
</div>