<table class="span12">
    <tr ng-repeat="p in permissions">
        <th class="span2">{{p.key}}</th>
        <td class="span4">{{p.name}}</td>
        <td>
            <button type="button" class="btn btn-danger pull-right" ng-click="remove(p)">
                <i class="icon-trash icon-white"></i>
            </button>
        </td>
    </tr>
</table>