<div ng-controller="NewPermissionCtrl">
    <h3>Create new permission</h3>
    <form ng-submit="save()">
        <div class="control-group">
            <label>Key:</label>
            <input type="text" ng-model="permission.key" />
        </div>
        <div class="control-group">
            <label>Name:</label>
            <input type="text" ng-model="permission.name" />
        </div>
        <input type="submit" value="Create new permission" class="btn btn-primary"/>
    </form>
</div>