<ul class="breadcrumb">
    <li>
        <a href="/">Home</a>
        <span class="divider">/</span>
    </li>
    <li ng-repeat="b in breadcrumb">
        <a ui-if="!b.current" href="{{b.url}}">{{b.title}}</a>
        <span ui-if="!b.current"  class="divider">/</span>
        <span ui-if="b.current">{{b.title}}</span>
    </li>
</ul>
