<div ng-controller="NavBarCtrl" class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">BAG2</a>
        <ul class="nav">
            <li  ng-class="{active: section == 'home'}">
                <a href="/">Home</a>
            </li>
            <li  ng-class="{active: section == 'admin'}">
                <a href="/admin">Admin</a>
            </li>
            <li  ng-class="{active: section == 'apps'}">
                <a href="/apps">Apps</a>
            </li>
        </ul>
        
        <div class="pull-right">
            <button ng-hide="isLoggedIn" class="btn btn-primary" ng-click="login()">
                <i class="icon-user icon-white"></i> Log in
            </button>
            <button ng-show="isLoggedIn" class="btn btn-primary" ng-click="logout()">
                <i class="icon-user icon-white"></i> Log out
            </button>
        </div>
    </div>
</div>