<div class="well">
    <h3>Not allowed</h3>
    <p>The requested page requires additional pemissions you don't have.</p>
    <button
    type="button" ng-click="goBack()" class="btn btn-primary">
        <i class="icon-arrow-left icon-white"></i>&nbsp;Go back</button>
</div>