<!doctype html>
<html class="no-js" ng-app="bag2" ng-controller="PageCtrl">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title ng-bind-template="{{pageTitle}}">BAG2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="/components/bootstrap/docs/assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/components/bootstrap/docs/assets/css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="/components/angular-ui/build/angular-ui.css">
        <link rel="stylesheet" type="text/css" href="/components/fine-uploader/fineuploader-3.5.0.css">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    
    <body>
        <!--[if lt IE 9]>
            <script src="components/es5-shim/es5-shim.js"></script>
            <script src="components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <div ng-include src="'/views/navbar.html'"></div>
        <div class="container">
            <div ng-include src="'/views/breadcrumb.html'"></div>
            <div ng-include src="'/views/alerts.html'"></div>
            <div ng-view /></div>
        <script src="/components/jquery/jquery.js"></script>
        <script src="/components/bootstrap/docs/assets/js/bootstrap.js"></script>
        <script src="/components/angular/angular.js"></script>
        <script src="/components/ngUpload/ng-upload.js"></script>
        <script src="/components/angular-resource/angular-resource.js"></script>
        <script src="/components/angular-cookies/angular-cookies.js"></script>
        <script src="/components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/components/angular-ui/build/angular-ui.js"></script>
        <script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/components/fine-uploader/jquery.fineuploader-3.5.0.js"></script>
        <script src="/scripts/app.js"></script>
        <script src="/scripts/directives/fineuploader.js"></script>
        <script src="/scripts/controllers/main.js"></script>
        <script src="/scripts/controllers/maps-layers.js"></script>
        <script src="/scripts/controllers/navbar.js"></script>
        <script src="/scripts/controllers/alerts.js"></script>
        <script src="/scripts/controllers/login.js"></script>
        <script src="/scripts/controllers/apps.js"></script>
        <script src="/scripts/controllers/notAllowed.js"></script>
        <script src="/scripts/controllers/admin.js"></script>
        <script src="/scripts/controllers/lists.js"></script>
        <script src="/scripts/controllers/permissions.js"></script>
        <script src="/scripts/controllers/users.js"></script>
        <script src="/scripts/controllers/workgroups.js"></script>
        <script src="/scripts/services/auth.js"></script>
        <script src="/api/restapi.js"></script>
    </body>

</html>
