<form ng-submit="save()">
    <div class="controls-group">
        <label>Title</label>
        <input type="text" class="input-xlarge" ng-model="list.title"
        />
    </div>
    <h4>Items</h4>
    <div class="controls-group">
        <div ng-repeat="i in list.items" style="clear: both">
            <button type="button" class="btn btn-danger pull-right" ng-click="removeItem(i)">
                <i class="icon-trash icon-white"></i>
            </button>
            <input type="text" value="{{i}}" disabled class="input-xlarge" />
        </div>
        <h4>Add new item</h4>
        <div style="clear: both">
            <input type="text" ng-model="newItem" class="input-xlarge" />
            <button type="button" class="btn btn-primary pull-right" ng-click="addNewItem()">
                <i class="icon-plus icon-white"></i>
            </button>
        </div>
    </div>
    <div class="controls-group" style="margin-top: 20px">
        <input type="submit" value="Save changes" class="btn btn-primary"
        />
        <button ng-click="delete()" type="button" value="Delete list" class="btn btn-danger">
        <i class="icon-trash icon-white"></i>&nbsp;Delete
        </button>
    </div>
</form>