<h3>Lists</h3>
<div>
    <div ng-repeat="l in lists" style="clear:both">
        <a href="/lists/{{l._id}}">{{l.title}}</a>
        <button type="button" class="btn btn-danger pull-right" ng-click="delete(l)">
            <i class="icon-trash icon-white"></i>
        </button>
    </div>
    <div ng-controller="NewListCtrl">
        <form ng-submit="save()">
            <h3>New list</h3>
            <div class="controls-group">
                <label>List name:</label>
                <input type="text" class="input-large" ng-model="list.title"
                />
            </div>
            <div class="controls-group">
                <input type="submit" value="Create new list" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
